a:hover {
    font-size: 25px;
    font-style: oblique;
    font-weight: bolder;
    background-color: #FFFF00;
}

body {
    font-size: 14px;
    font-family: cursive;
}

.links {
    font-size: 16px;
    font-family: monospace;
    background-color: lightgreen;
}

#bio {
    color: white;
    font-size: 22px;
    font-family: cursive;
    border-style: dotted;
    border-spacing: inherit;
    border-color: blue;
}

.secondrow {

  right: 0;
    width: 200px;
    height: 75%;
    overflow-x: visible;
}

#map {
    height: 400px;
    width: 400px;
}

footer {
    font-size: 18px;
    font-family: monospace;
    color: #551A8B;
    font-weight: bold;
}

.container-fluid {
    align-content: center;
    margin-left: auto;
    margin-top: 30px;
    background-color: pink;
}

#information {
    font-size: 24px;
    font-style: oblique;
    font-weight: bold;
}
